# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json
pip-log.txt
pip-delete-this-directory.txt
dist/
build/
*.egg-info/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.dmypy.json
dmypy.json

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
.pnp/
.pnp.js

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
